.section img {
  object-fit: cover;
  max-height: 500px;
  padding: 30px;
}

.section {
  display: flex;
}

.section p {
  color: black;
  font-family: 'Cormorant Garamond', serif;
}

.section h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
}

.divider p {
  color: black;
}

.block-content {
  text-align: center;
  margin: auto;
  padding: 20px;
}

.block-content p {
  width: 80%;
  margin: 10px auto;
}

.block-content a {
  width: 30%;
}

.block-left {
  width: 50vw;
}

.block-right {
  width: 50vw;
}

.divider {
  border-bottom: solid rgba(0, 0, 0, 0.32) 1px;
  text-align: center;
  padding: 25px;
  margin: 30px;
}

.divider h2 {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.3rem;
}

.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.schedule  h2 {
  font-size: 2rem;
  font-family: 'Cormorant Garamond', serif;
  color: rgba(5, 5, 5, 0.876);
}

.schedule h5 {
  font-family: 'Cormorant Garamond', serif;
  color: rgba(5, 5, 5, 0.876);
}

.schedule p {
  color: rgba(5, 5, 5, 0.676);
  margin: 0;
}
