.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.455)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1666014186/Zoe%20and%20Cameron/DSC02457_lh58zy.jpg);
  background-position: center;
  background-size: cover;
}

.header-navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  max-width: 70vw;
  margin: auto;
}

.header-top {
  display: flex;

}

.header-content {
  text-align: center;
  padding: 50px 0;
}

.header-content p {
  color: white;
}

h2 {
  color: white;
  font-size: .9rem;
}

#date {
  color: white;
  text-align: center;
  font-size: 2.5rem !important ;
}

.button {
  margin: auto;
  display: flex;
  padding: 10px;
}

a {
  text-decoration: none;
}
